.btn {
  border: none;
  background: black;
  color: white;
  font-size: 1.08rem;
  padding: 10px 25px;
  border: 2px solid black;
  transition: all .3s .05s;
}

.btn:hover {
  cursor: pointer;
  background: white;
  color: black;
}
